@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    list-style: none;
    box-sizing: content-box;
}

/* COLORS */
:root {
    --black: #000000;
    --black-light: #242424;
    --grey-dark: #424242;
    --press: #9e9e9e39;
}

/* SCROLLBAR */
::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 6px;
}

/* LINK */
a {color:white; text-decoration: none;}

/* OVERFLOW */
.overflow {
    max-height: 80vh;
    overflow-y: scroll;
}

/* HOVERS */
.item:hover {
    background-color: var(--press);
    border-radius: 5px;
}

.item:hover::after {
    content: '\F659';
    
}

/* ITEMS */
.item {
    display: flex;
    align-items: center;
}

/* CONTAINER */
main {
    display: grid;
    grid-template-columns: 90px 220px 1fr;
    grid-template-rows: 20px 1fr;

    height: 100vh;
}

/* HEADER */
.header {
    grid-column: 1/4;
    margin: 0;
    
    background-color: var(--black);
}

.header h1 {
    font-family: 'Unbounded', Arial, Helvetica, sans-serif ,cursive;
    font-size: .5em;

    margin: 5px 10px;
}

/* SERVERS */
.socials {
    grid-column: 1;
    background-color: var(--black);
}

/* LANGUAGES */
.languages {
    grid-column: 2;
    background-color: var(--black-light);
}

.languages h1 {
    font-family: 'Unbounded', Arial, Helvetica, sans-serif ,cursive;
    font-size: .5em;
}

.languages h1 i {
    margin-left: 80px;
}

.languages-list {
    display: flex;
    flex-direction: column;
}

/* ACTIVITY */
.active {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 1fr;
    min-width: 600px;
}

.active-header {
    grid-column: 1/3;
    
    z-index: 1;

    box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.215);
    background-color: var(--grey-dark);
}

.active-header .nav {
    display: flex;
}

.active-languages {
    background-color: var(--grey-dark);
}

/* LEARN */
.learn {
    border-left: solid 1px white;
    background-color: var(--grey-dark);
}