@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    list-style: none;
    box-sizing: border-box;
}

/* COLORS */
:root {
    --black:          #000712;
    --black-darklight:#0F1217;
    --black-light:    #262625;
    --grey-dark:      #454A52;
    --grey-light:     #9e9e9e39;
    --white-dark:     #9e9e9e;
    --white:          #ffffff;
    --yellow:         #faa61a;
    --green-dark:     #346936;
    --green:          #4caf50;
    --green-press:    #50bb54;
    --blue:           #0077b7;
}

/* ---------------GLOBAL CONFIGS---------------- */

/* SCROLLBAR */
::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 8px;
}

/* OVERFLOW */
.overflow {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ITEMS */
a{text-decoration: none;}
a:hover {text-decoration: none;}
p{color: var(--white-dark); margin: 0 5px;}
.bi{font-style: normal;}

.item {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 45px;
    font-size: .8em;
    cursor: pointer;
}

.press:hover {
    border-radius: 5px;
    background-color: var(--grey-light);
}

.press:hover p{
    color: var(--white);
}

/* ICONS */
.icon{
    position: relative;
    border-radius: 50%;
    width: 30px;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.icon .indicator {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-10px, -10px);
    width: 10px;
    height: 10px;
    border-radius: inherit;
    background: var(--grey-dark);
    overflow: hidden;
    display: grid;
    place-items: center;
}

.icon .indicator .status {
    width: 7.5px;
    height: 7.5px;
    border-radius: inherit;
}

.icon .indicator .status::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon.online .indicator .status{
    background: var(--green);
}

.icon.idle .indicator .status {
    background-color: var(--yellow);
}

.icon.idle .indicator .status::after {
    background: var(--grey-dark);
    width: 6px;
    height: 6px;
    border-radius: inherit;
    top: 0;
    left: 0;
    transform: none;
}

.icon.off .indicator .status{
    background: var(--white-dark);
}

.icon.off .indicator .status::after {
    background: var(--grey-dark);
    width: 4px;
    height: 4px;
    border-radius: inherit;
}


.bi {
    font-size: 18px;
}

/* ---------------MAIN---------------- */

/* CONTAINERS */
body, html {
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 70px 220px 1fr;
    grid-template-rows: 11px 99vh;

    max-width: 100vw;
}

/* HEADER */
.header {
    grid-column: 1/4;
    margin: 0;
    
    background-color: var(--black);
}

.header h1 {
    font-family: 'Unbounded', Arial, Helvetica, sans-serif ,cursive;
    font-size: .5em;
    margin: 0 10px;
}

/* SERVERS */
.leftbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black-darklight);
}

.socials {
    display: flex;
    flex-direction: column;
}

.server {
    display: flex;
    align-items: center;
    width: 100%;
}

.server::before {
    transition: .3s;
    content: '';
    width: 5px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white);
}

.server:hover::before {
    transition: .3s;
    height: 20px;
    border-radius: 2px;
}

.img {
    transition: .3s;
    border-radius: 50%;
    margin: 10px 10px 5px 5px;
}

.img:hover {
    transition: .5s;
    border-radius: 10px;
    cursor: pointer;
}

.bar {
    width: 20px;
    height: 1px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.341);
}

.github {
    background-color: var(--white);
}

.linkedin {
    background-color: var(--blue);
}

.gmail {
    background-color: var(--white);
}

svg {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.svg {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: var(--grey-dark);
}

#svg-bottom:hover svg {
    fill: var(--white);
}

#svg-bottom:hover {
    background-color: var(--green);
}

/* LANGUAGES */
.languages {
    display: grid;
    flex-direction: column;
    grid-template-rows: .1fr 1fr;

    grid-column: 2;
    background-color: var(--black-light);
}

.sections {
    margin: 10px;
    max-width: 85%;
    grid-row: 1;
}

.sections i {
    margin-left: 5px;
}

.btn p {
    margin-left: 10px;
}

/* TITLE */
.title {
    font-size: .5em;
    margin: 10px 0;
    font-family: 'Unbounded', Arial, Helvetica, sans-serif ,cursive;
    color: var(--white-dark);
}

.languages .title {
    display: flex;
    justify-content: space-between;

    margin: 10px auto 5px auto;
    font-family: 'Unbounded', Arial, Helvetica, sans-serif ,cursive;
    font-size: .5em;
    
    color: var(--white-dark);
    cursor: pointer;
}

.languages .title:hover {
    color: var(--white);
}

.bi-plus-lg {
    font-size: 1.1em;
}

/* LIST */
.languages-list {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    height: 65vh;

    grid-row: 2;
}

/* PORTIFOLIO */
.portifolio {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 190px;
    border-radius: 5px;
    background-color: var(--black);
    text-decoration: none;
}

.name {
    display: flex;
    flex-direction: column;
}

.name p {
    margin-bottom: 0rem;
    line-height: 1.3em;
    color: var(--white-dark);
}

.name p#name {
    font-weight: bold;
}

.name p#aboutme {
    font-size: .8em;
}

.portifolio:hover {
    background-color: var(--green);
}

.bi-star-fill {
    transition: 1s;
    font-size: .8em;
    margin-left: 35%;
}

.portifolio:hover .bi-star-fill{
    transition: .8s;
    transform: rotate(.2turn) scale(2);
    color: yellow;
}

.languages-users {
    margin-top: 50px;
}

/* PERFIL */
.perfil {
    display: flex;
    align-self: flex-end;
    align-items: center;

    position: absolute;
    width: 220px;
    padding: 5px;

    background-color: var(--black);
}

#username {
    font-weight: bold;
    font-size: .8em;
    color: var(--white-dark);
}

#tag {
    color: #9e9e9ec9;
    font-size: .7em;
}

/* ACTIVE */
.active {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 30px;

    grid-row: 2;
    grid-column: 3;
}

.active-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    grid-column: 1/3;
    z-index: 1;

    box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.158);
    background-color: var(--grey-dark);
    font-size: .8em;
}

.active-title {
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}

.active-header p {
    color: var(--white);
}

.active-title .bar {
    width: 13px;
    rotate: z 90deg;
}

.active-header ul {
    display: flex;
    flex-wrap: wrap;
    height: 0;
}

.active-header #add {
    border-radius: 5px;
    color: var(--white);
    background-color: var(--green);
}

.active-header a:hover {
    color: var(--white);
}

.active-header a {
    color: var(--white-dark);
    align-self: center;
    margin-left: 10px;
    padding: 0 10px;
}

.button {
    background-color: transparent;
    border: none;
    color: var(--white-dark);
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:hover {
    color: var(--white);
}

.modal-content {
    background-color: var(--white);
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
}

.modal-body p {
    color: var(--black);
}

.modal-body a {
    font-weight: bold;
    font-style: italic;
    color: var(--black);
}

.status {
    background-color: rgba(0, 0, 0, 0.225);
    border-radius: 5px;
}

.modal-body .modal-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--grey-dark);
}

.modal-title, .modal-status p, .modal-status b {
    color: var(--black-darklight);
    margin: 0;
}

.modal-status, .modal-tags {
    display: flex;
    margin: 10px 0;
    padding: 0 10px;
    gap: 10px;
}

.modal-tags {
    display: flex;
    flex-direction: column;
}

.tag {
    font-weight: bold;    
    cursor: pointer;
}

.tag p:hover {
    color: var(--black-light);
}

.tag:hover p::after {
    content: 'Never study';
    font-style: italic;
    font-weight: normal;
    padding-left: 20px;
}

.tag:hover #days::after {
    content: 'Studied for 60 days';
}

.tag:hover #mounth::after {
    content: 'Studied for 1 mouth';
}

.tag:hover #year::after {
    content: 'Studied for 1 year';
}

/* ACTIVE LANGUAGES */

.active-languages {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--grey-dark);
}

.active-languages p {
    color: var(--white);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    
    border-radius: 5px;
    background-color: var(--black-light);
}

.bi-search {
    transition: .3s;
    margin: 0;
}

.search:hover .bi-search{
    transition: .8s;
    transform: scale(.9);
}

#searchInput:focus {
    outline: none;
}

#searchInput {
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: var(--black-light);
}

#searchInput::placeholder {
    border: none;
}

.active-list {
    max-height: 70vh;
}

.active-item {
    display: flex;
    justify-content: space-between;
}

.active-item:hover .active-item-right {
    background-color: var(--black-light);
}

.active-item-left {
    display: flex;
    align-items: center;
}

.active-item-left p {
    min-width: 200px;
}

.active-item-right{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.active-info p:nth-child(2){
    font-size: .8em;
    color: var(--white-dark);
}

.press:hover .active-info p:nth-child(1):after {
    content: '#0000';
    margin-left: 5px;
    color: var(--white-dark);
}

.press:hover #js::after, 
.press:hover #py::after {
    content: '#0200';
}

.press:hover #html::after, 
.press:hover #css::after {
    content: '#0400';
}

.press:hover #c::after {
    content: '#0300';
}


.active-icon {
    display: flex;
    font-size: .8em;
    gap: 10px;
}

.active-languages .item {
    display: flex;
    padding: 30px 10px;
    border-bottom: solid 1px var(--grey-light);
}

.active-languages .icon {
    width: 35px;
}

/* LEARN */
.learn {
    padding: 20px;

    border-left: solid 1px var(--grey-light);
    background-color: var(--grey-dark);
}

.learn h1 {
    font-weight: bold;
    font-size: 1em;
}

.studying {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 95%;
    
    margin: 15px;
    padding: 10px;
    gap: 10px;

    border-radius: 5px;
    background-color: var(--black-light);
    cursor: pointer;
}

.studying:hover {
    background-color: var(--black);
}

.studying-item {
    display: flex;
}

.software {
    display: flex;
    
    width: 100%;
    height: 60px;
    padding: 10px 0;
    
    border-radius: inherit;
    background-color: var(--grey-light);
}

.software-infos p:nth-child(2) {
    line-height: .9em;
    font-size: .8em;
}
